.Step1 {
    background: rgba(255, 255, 255, 0.92);
    border-radius: 10px;
}

h1,
h2 {
    font-family: 'Dancing Script', cursive;
}

p {
    line-height: 0.8;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
}

#menuTitle {
    padding-top: 1rem;
}

#complet {
    color: red;
}