#Hero {
    height: 100vh;
}

#headerLogo {
    height: 120px;
    width: 150px;
}

@media only screen and (max-width: 700px) {
    #hero-btn {
        position: fixed;
        bottom: 0;
        margin: 0;
        padding: 0;
        z-index: 20;
        width: 100vw;
        height: 80px;
    }
    footer {
        margin-bottom: 80px;
    }
}

@media only screen and (min-width: 700px) {
    #hero-btn {
        width: 150px;
        height: 60px;
    }
}

#services,
#about,
#formCol {
    margin-top: 2vh;
    margin-bottom: 5vh;
}

#contacte {
    scroll-behavior: smooth;
}

.display-4 {
    margin-bottom: 3vh;
}

#footer {
    overflow: hidden;
    margin-top: 5vh;
}

#legal {
    padding-top: 1vh;
}

.madeWithLove {
    padding-top: 1vh;
    font-size: 0.7rem;
    margin-bottom: 0;
    margin-top: 0;
}

#hero-logo {
    height: 230px;
    width: 300px;
    background: transparent;
    background-image: url('../assets/logo-catering-roser-color.jpg');
    background-size: cover;
}

#hero-text {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.p {
    line-height: 1.5rem;
}

#aboutText p {
    line-height: 1.7rem;
    font-size: 1.2rem;
}

#facebook,
#instagram {
    border: 0;
    margin-right: 2.5vw;
    margin-bottom: 1vh;
    height: 35px;
    width: 35px;
    background: transparent;
    background-size: cover;
}

#facebook {
    background-image: url("../assets/iconmonstr-facebook-3-240.png");
}

#instagram {
    background-image: url("../assets/iconmonstr-instagram-13-240.png");
}

@media only screen and (min-width: 700px) {
    #facebook {
        position: absolute;
        right: 0vw;
    }
    #instagram {
        position: absolute;
        right: 50px;
    }
}