.OrderDrinks {
    background: rgba(255, 255, 255, 0.8)
}

.drinks-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.drinks-label {
    margin: 1rem;
}

.counter {
    width: 25px;
    height: 25px;
}

.moreDrinks {
    height: 20px;
    width: 20px;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border: 0;
    background: transparent;
    background-image: url('../assets/iconmonstr-plus-5-240.png');
    background-size: cover;
}

.lessDrinks {
    height: 20px;
    width: 20px;
    border: 0;
    background: transparent;
    background-image: url('../assets/iconmonstr-minus-6-240.png');
    background-size: cover;
}

@media only screen and (min-width: 701px) {
    #addAndPay,
    #back {
        margin-bottom: 1rem;
        width: 50%;
    }
}

@media only screen and (max-width: 700px) {
    #addAndPay,
    #back {
        margin-bottom: 1rem;
        width: 90%;
    }
}