.Step2 {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
}

.row {
    justify-content: space-around;
}

@media only screen and (min-width: 701px) {
    .customerNeeds {
        height: 10vh;
        margin-bottom: 1vh;
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .customerNeeds {
        height: 15vh;
        margin-bottom: 1vh;
        width: 90%;
    }
}

#back {
    margin-bottom: 1vh;
}